<h1>BURGER TYPE</h1>
<ul>
	{{#each burgers}} <li>
		{{burger_name}}
		<button class="dev" id={{id}} type="button">DEVOURED!</button>
	</li>{{#unless devoured}}
	<li class="right">{{burger_name}}</li> {{/unless}} {{/each}}
</ul>
<form class="create-form">
	<div class="form-group">
		<input type="text" id="ca" name="name">
	</div>
	<button type="submit">ADD ONE</button>
</form>